
.metadata/.plugins/org.eclipse.core.resources/.history/1a/20fbbc9f81b7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/2/20642c1881b7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/2/f00fb98781b7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/3a/c0c3841581b7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/3c/90376c2b81b7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/49/0042381d7bb7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/5/90b33b1380b7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/52/702818ad7db7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/5f/8003136eefb7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/66/c0d5587883b7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/71/401a940f7eb7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/82/00e841867bb7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/92/a0a2628083b7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/9f/705ff33f7eb7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/b/60a99a5d7fb7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/ce/70fa6f7b7bb7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/d7/e0bb5a737bb7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/da/a01c18387eb7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/e8/3043166583b7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/f2/905c6e12f0b7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/f5/d02e00c981b7001d1e56f96fd52a8009
.metadata/.plugins/org.eclipse.core.resources/.history/f8/a0120d01ecb8001d1bc7d2d49332c814
.metadata/.plugins/org.eclipse.core.resources/.projects/currency-exchange-service/.indexes/e4/b9/22/81/17/44/5e/ff/f2/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/currency-exchange-service/.indexes/e4/b9/db/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/currency-exchange-service/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/custom-api-gateway/.indexes/e4/b9/22/81/17/44/4b/e5/88/history.index
.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
.metadata/.plugins/org.eclipse.core.resources/.root/4.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.mpc.ui.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.mpc.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
/api-gateway/.mvn
/basic-rest/.mvn
/currency-conversion-service/.mvn
/currency-exchange-service/.mvn
/custom-api-gateway/.mvn
/limits-service/.mvn
/naming-registry-service/.mvn
/spring-cloud-config-server
